html, body, .root {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

body, .root {
  position: absolute;
}

/*Main page styles*/

.App {
  width: auto;
  height: auto;
  margin: 1%;
  height: 96vh;
}

.App-header { 
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav-header{
  width: auto;
  color: black;
  font-size: 16px;
}

.Nav-header ul {
  padding: 0 5px;
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
}

.Nav-header ul > li {
  display: inline-block;
  margin: 0 5px;
}

.App-body { 
  padding: 2%;
  height: auto;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "App-body-left App-body-right";
}

.App-body-left {
  height: auto;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.App-body-left > * {
  margin-bottom: 7.5%;
}

.App-body-title {
  width: 80%;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 500;
}

.App-body-subtitle {
  width: 60%;
  color: #5F5F5F;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
}

.App-body-button {
  width: 100%;
}

.App-body-button-link {
  width: 60%;
}

.Logo {
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

.Link-nostyle, .Link-nostyle:hover, .Link-nostyle:active, .Link-nostyle:visited {
  text-decoration: none;
  color: inherit;
}

.Modal-nav-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e4ebf5;
  opacity: 0.96;
}

.Modal-nav {
  width: 225px!important;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal-nav > * {
  margin: 5% 2%;
  width: 60%!important;
}

.Modal-nav > .Link-outer > * {
  width: 100%!important;
}

.Modal-closed {
  display: none;
}

.Burger-menu {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.App-body-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Color-picker-outer {
  width: 350px!important;
  height: 350px!important;
  border-radius: 175px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Color-picker-inner {
  width: 90px!important;
  height: 90px!important;
  border-radius: 45px!important;
  position: absolute;
}

/*Generator styles*/

.Generator {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 1%;
  height: 96vh;
}

.Generator-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 1.5%;
}

.Generator-toolbar-subtitle {
  width: 40%;
  color: #5F5F5F;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.Generator-toolbar-tools {
  width: 60%;
}

.Generator-palette-outer {
  width: 100%;
  flex: 1;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Generator-palette-inner {
  display: flex;
  padding: 0 3%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 98%;
}

.Generator-palette-inner:first-child {
  border-radius: 0 0 8px 8px;
}

.Generator-palette-color {
  width: auto;
  height: 80%;
  flex: 1 1 0px;
}

/*Responsive*/

@media only screen and (max-width: 992px) {
  .App {
    margin: 2%;
    height: auto;
    width: auto;
  }

  .App-body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "App-body-left"
      "App-body-right";
  }

  .App-body-right {
    margin: 10% 0;
  }

  .Generator-toolbar {
    flex-direction: column;
    align-items: center;
  }

  .Generator-toolbar-subtitle {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .App-header {
    padding: 2% 5%;
  }

  .App-body-right {
    width: 100%;
    transform: scale(0.9);
  }

  .App-body-title, .App-boddy-subtitle {
    width: 100%;
  }

  .Nav-header {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

  .Burger-menu {
    visibility: initial;
    opacity: 1;
    position: initial;
  }

  .Color-picker-outer {
    width: 300px!important;
    height: 300px!important;
    border-radius: 150px!important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Generator-palette-inner {
    flex-direction: column;
    padding: 10% 0;
  }

  .Generator-palette-inner > :first-child {
    border-radius: 8px 8px 0 0;
  }

  .Generator-palette-inner > :last-child {
    border-radius: 0 0 8px 8px;
  }

  .Generator-palette-color {
    width: 80%;
    height: auto;
    flex: 1 1 0px;
  }
}