.root {
  width: 100%;
  height: 100%;
}

.App {
  margin: 1%;
}

.App-header { 
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav-header{
  width: auto;
  color: black;
  font-size: 16px;
}

.Nav-header ul {
  padding: 0 5px;
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
}

.Nav-header ul > li {
  display: inline-block;
  margin: 0 5px;
}

.App-body { 
  padding: 2%;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "App-body-left App-body-right";
}

.App-body-left {
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.App-body-left > * {
  margin-bottom: 7.5%;
}

.App-body-title {
  width: 80%;
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 500;
}

.App-body-subtitle {
  width: 60%;
  color: #5F5F5F;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
}

.App-body-button {
  width: 60%;
}

.Logo {
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

.Color-changeable {
  animation: color-change 60s infinite;
}

.Bg-color-changeable {
  animation: bg-color-change 60s infinite;
}

.Border-color-changeable {
  animation: border-color-change 60s infinite;
}

@media only screen and (max-width: 992px) {
  .App-body { 
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "App-body-left",
      "App-body-right";
  }
}

@keyframes color-change {
  0% { color: red; }
  8.33% { color: orange; }
  16.66% { color: gold; }
  25% { color: green; }
  33.33% { color: cyan; }
  41.66% { color: blue; }
  50% { color: purple; }
  58.33% { color: blue; }
  68.66% { color: cyan; }
  77% { color: green; }
  85.33% { color: gold; }
  93.66% { color: orange; }
  100% { color: red; }
}

@keyframes bg-color-change {
  0% { background-color: red; }
  8.33% { background-color: orange; }
  16.66% { background-color: gold; }
  25% { background-color: green; }
  33.33% { background-color: cyan; }
  41.66% { background-color: blue; }
  50% { background-color: purple; }
  58.33% { background-color: blue; }
  68.66% { background-color: cyan; }
  77% { background-color: green; }
  85.33% { background-color: gold; }
  93.66% { background-color: orange; }
  100% { background-color: red; }
}

@keyframes border-color-change {
  0% { border-color: red; }
  8.33% { border-color: orange; }
  16.66% { border-color: gold; }
  25% { border-color: green; }
  33.33% { border-color: cyan; }
  41.66% { border-color: blue; }
  50% { border-color: purple; }
  58.33% { border-color: blue; }
  68.66% { border-color: cyan; }
  77% { border-color: green; }
  85.33% { border-color: gold; }
  93.66% { border-color: orange; }
  100% { border-color: red; }
}